<!-- Page Wrapper -->
<div id="wrapper">
    <app-side-bar></app-side-bar>
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-header></app-header>
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Salles</h1>
            <button class="btn btn-sm btn-soft-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter Salle
            </button>
          </div>
  
          <!-- Table des salles -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste des salles</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Salle</th>
                      <th>Disponible</th>
                      <th>Sessions</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let salle of salles; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ salle.nom }}</td>
                      <td>{{ salle.disponible ? 'Oui' : 'Non' }}</td>
                      <td>
                        <ul *ngIf="salle.sessions?.length">
                          <li *ngFor="let session of salle.sessions">{{ session.formation.name}}</li>
                        </ul>
                        <span *ngIf="!salle.sessions?.length">Aucune</span>
                      </td>
                      <td>
                      


                         <!-- Bouton Supprimer -->
                      <button type="button" (click)="confirmDelete(salle._id)" class="btn btn-delete rounded-pill">
                        <i class="fas fa-trash-alt"></i>
                      </button>


                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Modal simple -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <h5 class="modal-title mb-3">Ajouter une salle</h5>
            <div>
              <input type="text" [(ngModel)]="newSalle.nom" class="form-control mb-3" placeholder="Nom de la salle">
              <button class="btn btn-primary" (click)="ajouterSalle()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Footer -->
      <footer>
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <p>&copy; Copyright 2025 Maison Des Savoirs. All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  