<div class="forgot-password-container">
    <form class="forgot-password-form" (ngSubmit)="onSubmit()">
      <h2>Mot de passe oublié</h2>
      <p>Entrez votre email pour recevoir un lien de réinitialisation.</p>
      
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="email" placeholder="Entrez votre email" required>
      </div>
  
      <button type="submit" class="reset-btn">Envoyer</button>
  
      <p *ngIf="message" class="success-message">{{ message }}</p>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </div>
  