<app-header-user></app-header-user>

<section class="profile-section">
  <div class="container">
    
    <!-- Titre moderne -->
    <div class="text-center mb-5">
      <h1 class="about-title">Changer le mot de passe</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card profile-card shadow">
          <div class="card-body">
            <form (ngSubmit)="changePassword()">
              <input type="hidden" [(ngModel)]="userId" name="userId">

              <div class="form-group mb-3">
                <label class="text-muted">Mot de passe actuel</label>
                <input type="password" class="form-control" [(ngModel)]="currentPassword" name="currentPassword" required>
              </div>

              <div class="form-group mb-3">
                <label class="text-muted">Nouveau mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" required>
              </div>

              <button type="submit" class="btn btn-primary-custom w-100">
                <i class="fas fa-key"></i> Changer
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer-user></app-footer-user>
