<app-header-user></app-header-user>

<div class="about-container">
  <h1 class="about-title">À PROPOS</h1>

  <div class="about-content">

    <div class="about-image">
      <img src="../../../assets/user-style/img/OneLine.jpg" alt="Illustration" />
    </div>

    <div class="about-text">
      <p>
       Bienvenue à la <strong>Maison des savoirs</strong> est un centre de formation dédié à l'apprentissage, à l'innovation et au développement personnel et professionnel. Situé en Tunisie, notre centre offre un environnement stimulant où les apprenants de tous horizons peuvent acquérir des compétences solides et actualisées, adaptées aux besoins du marché.
      </p>
      <p>
        Nous proposons une variété de formations dans des domaines clés tels que  <strong>l'informatique</strong>, le <strong>développement personnel</strong>, ainsi que des <strong>programmes certifiants</strong> pour accompagner votre évolution de carrière.

      </p>
      <p>
        Chez <strong>Maison des savoirs</strong>, notre mission est de rendre le savoir accessible à tous, à travers des méthodes pédagogiques modernes, un accompagnement personnalisé et des formateurs qualifiés. Nous croyons que chaque individu a le potentiel de réussir lorsqu'il est bien encadré.
      </p>
      <p>
        Rejoignez-nous pour construire ensemble un avenir fondé sur le savoir, les compétences et la confiance en soi.
      </p>
    </div>

  </div>
</div>
<app-chatbot></app-chatbot>
<app-footer-user></app-footer-user>
