<div class="signup-container">
  <form class="signup-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
     <!-- Logo au-dessus de la case -->
     <div class="logo">
      <img src="../../../assets/user-style/img/maison.jpg" alt="Logo" class="logo-img">
    </div>
    <h2>Inscription Apprenant</h2>
    
    <div class="form-grid">
      <div class="input-group">
        <label for="name">Nom</label>
        <input type="text" name="name" placeholder="Entrez votre nom" formControlName="name" required>
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Entrez votre email" formControlName="email" required>
      </div>

      <div class="input-group">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" placeholder="Créez un mot de passe" formControlName="password" required>
      </div>

      <div class="input-group">
        <label for="telephone">Téléphone</label>
        <input type="number" name="telephone" placeholder="Entrez votre téléphone" formControlName="telephone" required>
      </div>

      <div class="input-group">
        <label for="adresse">Adresse</label>
        <input type="text" name="adresse" placeholder="Entrez votre adresse" formControlName="adresse" required>
      </div>
    </div>

    <div class="image-upload">
      <label for="image">Image de profil :</label>
      <input name="image" type="file" formControlName="image" (change)="onFileSelected($event)">
    </div>

    <button type="submit" class="signup-btn">S'inscrire</button>
    <p class="login-link">Déjà un compte ? <a href="/signInUser">Connectez-vous</a></p>
  </form>
</div>
