<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Contact us</h3>
        <p>
          <span>&#9993;</span> contact@maisondesavoirs.tn<br />
          <span>&#9742;</span> 52 223 380
        </p>
      </div>
  
      <div class="footer-section">
        <h3>Categories</h3>
        <ul>
          <li><a [routerLink]="'/Courses'">Formations</a></li>
          <li><a [routerLink]="'/about'">A propos</a></li>
          <li><a [routerLink]="'/contact'">Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Follow us on Instagram</h3>
        <div class="instagram-gallery">
          <img src="./assets/user-style/img/course-1.jpg " alt="Instagram 1"/>
          <img  src="./assets/user-style/img/course-2.jpg" alt="Instagram 2" />
          <img src="./assets/user-style/img/course-3.jpg" alt="Instagram 3" />
          <img src="./assets/user-style/img/course-2.jpg" alt="Instagram 4" />
          <img src="./assets/user-style/img/course-3.jpg" alt="Instagram 5" />
          <img src="./assets/user-style/img/course-1.jpg" alt="Instagram 6" />
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; Copyright 2025 Maison Des Savoirs. All Rights Reserved.</p>
    </div>
  </footer>
  