<div class="reset-password-container">
    <form class="reset-password-form" (ngSubmit)="onSubmit()">
      <h2>Réinitialisation du mot de passe</h2>
      <p>Entrez votre nouveau mot de passe</p>
  
      <div class="input-group">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" name="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" required>
      </div>
  
      <button type="submit" class="reset-btn">Réinitialiser</button>
  
      <p *ngIf="message" class="success-message">{{ message }}</p>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </div>
  