<ul
  class="navbar-nav bg-light sidebar sidebar-dark accordion custom-sidebar"
  id="accordionSidebar"
>
  <a class="sidebar-brand d-flex align-items-center justify-content-center" >
    <div class="sidebar-brand-icon rotate-n-15"></div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>

  <hr class="sidebar-divider my-0" />

  <li class="nav-item"  routerLinkActive="active">
    <a class="nav-link " routerLink="/dashboard">
      <i class="fas fa-home"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <li class="nav-item"  routerLinkActive="active">
    <a class="nav-link " routerLink="/categorys">
      <i class="fas fa-list"></i>
      <span>Catégories</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/formations" class="nav-link">
      <i class="fas fa-graduation-cap"></i>
      <span>Formations</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/apprenants">
      <i class="fas fa-users"></i>
      <span>Apprenants</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/formateurs" class="nav-link">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Formateurs</span>
    </a>
  </li>


  <li class="nav-item" routerLinkActive="active">
    <a   routerLink="/sessions-formations" class="nav-link" >
      <i class="fas fa-calendar-alt"></i>
      <span>Sessions Formations</span>
    </a>
  </li>

  
  <li class="nav-item" routerLinkActive="active">
    <a   routerLink="/salle" class="nav-link" >
      <i class="fas fa-door-open"></i>
  
   
      <span>Salles</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a   routerLink="/avis-admin" class="nav-link" >
        <i class="fas fa-star"></i>
      <span>Avis</span>
    </a>
  </li>
  
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/reviews" class="nav-link">
      <i class="fa-solid fa-thumbs-up icon"></i>
      <span>Likes</span>
    </a>
  </li>
  
  
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/certificat" class="nav-link">
      <i class="fas fa-medal"></i>
      <span>Certificats</span>
    </a>
  </li>




  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
