 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">
        
    <!-- Main Content -->
    <div id="content">
        <app-header-user></app-header-user>

        <section class="profile-section">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="about">Mon Profil</h1>
                    <div class="col-lg-10">
                        <div class="card profile-card border-0">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-5 text-center">


                                        <img 
                    *ngIf="imageUrl" 
                    [src]="imageUrl" 
                    alt="Photo de profil" 
                    class="rounded-circle avatar-image"
                  />


                                    </div>
                                    <div class="col-lg-7">
                                        <div class="profile-header mb-3">
                                          <h3 class="text-main mb-1">{{ user.name }}</h3>
                                          <span  *ngIf=" user?.role === 'formateur'" class="role-tag">Formateur</span>
                                          
                                        </div>
                      
                                        
                                        <!-- Formulaire de mise à jour du profil -->
                                        <form  (ngSubmit)="updateProfile()">
                                            <input type="hidden" [(ngModel)]="user._id"  name="_id"> <!-- Champ caché pour l'ID -->

                                            <div class="form-group">
                                                <label class="text-muted">Nom</label>
                                                <input type="text" class="form-control"  name="name" [(ngModel)]="user.name" required>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-muted">Email</label>
                                                <input type="email" class="form-control"  name="email" [(ngModel)]="user.email" required>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-muted">telephone</label>
                                                <input type="telephone" class="form-control" [(ngModel)]="user.telephone"  name="telephone" required>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-muted">adresse</label>
                                                <input type="adresse" class="form-control" [(ngModel)]="user.adresse"  name="adresse" required>
                                            </div>

                                            <button type="submit" class="btn btn-primary-custom">
                                                <i class="fas fa-edit"></i> Modifier
                                            </button>
                                        </form>  

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer-user></app-footer-user>